<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>404 Page Not Found</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <!-- Add your own stylesheet here -->
  </head>
  <body>
    <div class="container">
      <h1>404</h1>
      <p>The term you were looking for (<%= word %>) could not be found.</p>
      <a href="/">Go back to home</a>
    </div>
  </body>
</html>
