<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Glossary</title>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-beta1/js/bootstrap.bundle.min.js"
      integrity="sha384-pzjw8f+ua7Kw1TIq0v8FqFjcJ6pajs/rfdfs3SO+kD4Ck5BdPtF+to8xM6B5z6W5"
      crossorigin="anonymous"
    ></script>

    <link rel="stylesheet" type="text/css" href="/css/style.css" />
  </head>
  <body>
    <header class="bg-primary text-white text-center py-3 mb-4">
      <p class="h2 mb-0">Dictionaryyy</p>
      <nav>
        <ul class="nav justify-content-center py-2 mb-0">
          <li class="nav-item">
            <a class="nav-link text-white" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="/glossary">Glossary</a>
          </li>
        </ul>
      </nav>
    </header>
    <div class="container mt-4">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <div class="card bg-white rounded shadow p-4">
            <h1 class="h2 text-muted text-center mb-4">Glossary</h1>
            <ul class="list-group list-group-flush">
              <% terms.forEach((term) => { %>
              <li class="list-group-item">
                <a href="/term/<%= term %>"
                  ><%= term.charAt(0).toUpperCase() + term.slice(1) %></a
                >
              </li>
              <% }); %>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <!-- include Popper.js -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-beta1/js/bootstrap.bundle.min.js"
      integrity="sha384-pzjw8f+ua7Kw1TIq0v8FqFjcJ6pajs/rfdfs3SO+kD4Ck5BdPtF+to8xM6B5z6W5"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
