@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");

* {
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
  font-family: "Inter", sans-serif;
}

body {
  background-color: #ffffff; /* White background color */
  color: #003338; /* Dark teal text color */
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  line-height: 1.6;
}

header {
  background-color: #003338; /* Dark teal header background color */
  color: #ffffff; /* White text color */
  padding: 20px;
  text-align: center;
  width: 100%;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1); /* Adds a shadow to the header */
}

h1 {
  margin: 0;
  color: #ffffff; /* White color for headings */
  font-size: 3rem;
}

nav {
  margin-top: 20px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-evenly;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  color: #003338; /* Dark teal text for the links */
  text-decoration: none;
  font-size: 1rem;
}

nav ul li a:hover {
  color: #001a1c; /* Even darker teal text color on hover */
}

#content {
  max-width: 900px;
  width: 90%;
  margin-top: 40px;
  padding: 20px;
  background-color: #ffffff; /* White background color for the content */
  border-radius: 15px; /* Rounded corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h2 {
  color: #003338; /* Dark teal color for sub-headings */
  font-size: 2.5rem;
  margin-bottom: 20px;
}

p {
  margin: 0;
  font-size: 1.2rem;
  line-height: 1.8;
  color: #003338; /* Dark teal text color */
}
.text-primary {
  color: #02abae; /* Set the desired color */
}
