* {
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}

body {
  font-family: Arial, sans-serif;
  background-color: #e6f4f1; /* Light background color */
  color: #003338; /* Dark text color */
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

header {
  background-color: #02abae; /* Teal header background color */
  color: #fff; /* White text for the header */
  padding: 20px;
  text-align: center;
  width: 100%;
}

h1 {
  margin: 0;
  color: #fff;
  font-size: 2.8rem;
}

nav {
  margin-top: 20px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-evenly;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  color: #fff; /* White text for the links */
  text-decoration: none;
  font-size: 1.6rem;
}

nav ul li a:hover {
  color: #a83900; /* Brown text color on hover */
}

#content {
  max-width: 600px;
  width: 90%;
  margin-top: 40px;
  padding: 20px;
  background-color: #fff; /* White background color for the content */
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h2 {
  color: #666;
  font-size: 2rem;
  margin-bottom: 10px;
}

p {
  margin: 0;
  font-size: 1.6rem;
  line-height: 1.5;
  color: #003338; /* Dark text color */
}
